* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px 80px;
    margin-left: 215px;
    padding: 30px;
    width: 70%;
}

.container img {
    padding: 30px 0 0 30px;
}

.container h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin-top: 35px;
    margin-left: 40px;
}

.container p {
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: left;
}

.container button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.sedans button {
    color: hsl(31, 77%, 52%);
}

.sedans button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    transition: all 250ms;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs button {
    color: hsl(184, 100%, 22%);
}

.suvs button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    transition: all 250ms;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.luxury button {
    color: hsl(179, 100%, 13%);
}

.luxury button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    transition: all 250ms;
}